/* Estilos generales */

body {
  font-family: 'Glober', sans-serif;
  color: #333;
  background-color: #fff;
}
/* Estilos generales del menú */
nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fijo en la parte superior */
  width: 100%; /* Ancho completo */
  top: 0; /* Posición superior */
  z-index: 1000; /* Asegura que el menú se muestre sobre otros elementos */
}

/* Estilos de la lista con los elementos del menú */
.menu-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-li {
  padding: 0 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff; /* Texto blanco */
  transition: background-color 0.2s ease-in-out;
}

.menu-li:hover {
  background-color: #333; /* Fondo gris oscuro al pasar el cursor */
}

@media screen and (max-width: 768px) {
  .menu-ul {
    flex-direction: column;
    width: 100%;
    display: none; /* Oculto por defecto */
  }

  .menu-btn {
    display: block; /* Mostrar botón de hamburguesa */
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-btn:focus + .menu-ul,
  .menu-btn:hover + .menu-ul {
    display: flex; /* Mostrar menú al interactuar con el botón */
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}


/* Sección de la imagen de cabecera */
.imagen-cabecera {
  max-width: 100%;
  height: auto;
}

/* Sección de los títulos */
h1.titulo {
  font-family: 'Intro', 'Coves', sans-serif;
  font-size: 2em;
  margin-top: 0;
}

h2.subtitulo {
  font-family: 'Nagasaki', 'Maddac', sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* Sección del texto */
p.texto {
  font-family: 'Orkney', 'Elppa', sans-serif;
  margin-bottom: 1em;
}

/* Sección de la lista */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

/* Sección de los enlaces */
a {
  color: #007777;
  text-decoration: none;
}

/* Sección del botón de inscripción */
.btn-inscripcion {
  background-color: #FFD500;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.2em;
}

/* Sección principal */
.seccion-principal {
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

/* Sección de los testimonios */
.seccion-testimonios {
  padding: 20px;
  background-color: #FFF; /* Color de fondo de la sección */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.seccion-testimonios ul {
  display: flex; 
  flex-direction: row;
}

.seccion-testimonios li {
  background-color: #F7EFC3;
  margin: 0 5px 10px;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  flex: 1;
}

.seccion-testimonios img {
  width: 80px;
  height: 80px; 
  border-radius: 50%; 
  margin-bottom: 15px;
}

/* Sección de la galería */
.seccion-galeria {
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.seccion-galeria ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccion-galeria img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.seccion-galeria img:hover {
  transform: scale(1.1); 
}

/* Sección del pie de página */
footer {
  background-color: #007777;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #F0F0F0;
  text-decoration: none;
  margin: 0 10px;
}

/* Media queries para responsividad */
@media screen and (max-width: 600px) {
  .seccion-testimonios ul,
  .seccion-galeria ul {
    flex-direction: column;
  }

  .seccion-testimonios li,
  .seccion-galeria img {
    flex-basis: 100%; 
    margin: 5px 0; 
  }
}
